body {
    font-family: Arial;
    background-color: #e6ffe7;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input, select {
    padding: 8px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: rgb(255, 255, 255);
    border: none;
}
